/* Colors: whitish: #EFFFFB,
        green: #50D890
        greenish: #41A588
        green-blue: #4299BB
        blackish: 272727 
        lightgrey: 	#F0F0F0
        red: #E94596
        orange: #E15F27
/* 


  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

.HomeImage {
  background-image: url(/background.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 80vh;
}

.Favouritebutton button {
  background-color: transparent;
  border-style: none;
}

@media (min-width: 1281px) {
  /* //CSS here */
  body {
    font-size: 18px;
  }

  .HomeImage {
    background-size: cover;
  }
  .AutocompleteList {
    margin: 0 8em;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* //CSS here */
  body {
    font-size: 18px;
  }

  .HomeImage {
    background-size: cover;
  }
  .AutocompleteList {
    margin: 0 8em;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* //CSS here */
  .HomeImage {
    width: 100%;
    height: 25vh;
    background-size: cover;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* //CSS here */
  body {
    font-size: 16px;
  }
  .HomeImage {
    width: 100%;
    height: 25vh;
    background-size: cover;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* //CSS here */
  .HomeImage {
    width: 100%;
    height: 25vh;
    background-size: cover;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* //CSS here */
  .Logo {
    height: 32px;
  }
  .UserIcon {
    height: 16px;
  }
  body {
    font-size: 12px;
  }
  .HomeImage {
    width: 100%;
    height: 25vh;
    background-size: cover;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  padding: 10px 0; */
}

.App-link {
  color: #61dafb;
}

.navbar {
  position: fixed;
  width: 100%;
  max-height: 15%;
  display: flex;
  background-color: #41a588;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8em;
}

.navbar a {
  text-decoration: none;
  color: #effffb;
}

.UserDropdown {
  margin-right: 2.5em;
  list-style: none;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
}

.UserDropdown li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.UserDropdown:hover > .User ul,
.User ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  background-color: #effffb;
}

.User ul {
  padding: 0.5em;
}

.User ul li {
  list-style: none;
  color: #272727;
  clear: both;
  width: 100%;
}

.User ul li p {
  color: #272727;
}

.Searchform {
  background-color: #41a588;
}

.inputText {
  text-align: center;
  width: 80%;
  margin-top: 1em;
  padding: 1em 2em;
  border-style: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.ReverseButton {
  background-color: #ffffff;
  border-radius: 4px;
  border-style: none;
  margin: 0.3em;
  padding: 0.3em;
}

.inputDate {
  text-align: center;
  width: 80%;
  margin-top: 1em;
  padding: 1em 2em;
  border-style: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.SubmitButton {
  background-color: #272727;
  color: #effffb;
  border-radius: 4px;
  margin: 0.8em;
  padding: 1em;
  width: 80%;
  border-style: none;
}

#favlink {
  text-decoration: none;
  color: #effffb;
}

.AutocompleteList {
  list-style-type: none;
  text-align: center;
  margin: 0 8em;
  background-color: #effffb;
  padding: 0 2em;
  border-radius: 4px;
}

.AutocompleteItem {
  float: center;
}

.Favouritebutton {
  padding: 0.8em;
}

.Loadingbar {
  display: flex;
  justify-content: space-around;
}

.Filter {
  background-color: #272727;
  padding: 0.6em;
}

.Filter button {
  background-color: #effffb;
  border-radius: 4px;
  border-style: none;
  padding: 0.4em 0.8em;
  margin: 0.4em;
}

.ResultsPage {
  background-color: #f0f0f0;
}

.ResultsContainer {
  background-color: #effffb;
  margin: 1.5em;
  padding: 0.1em 0;
}

.Duration,
.Change,
.trainproduct {
  display: inline-block;
}

.times {
  color: #50d890;
}

.stationName {
  text-transform: uppercase;
}

.InfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.InfoContainer p {
  margin: 0.2em;
}
.Duration img {
  vertical-align: middle;
}

.Change img {
  vertical-align: middle;
}

.trainproduct img {
  vertical-align: middle;
}

.trainproduct {
  list-style-type: none;
  padding-left: 0;
}

.trainproduct li {
  display: inline;
}

.Pricecontainer {
  padding: 0.3em;
}

.Price2,
.Price1 {
  display: inline-block;
  background-color: #4299bb;
  color: #effffb;
  padding: 0.2em;
  margin: 1em 2em;
  border-radius: 2px;
  width: 20%;
}

.Price2 p,
.Price1 p {
  margin: 0.4em;
}

.legContainer {
  background-color: #41a588;
  margin: 0 2em;
  border-radius: 6px;
  color: #effffb;
  padding: 0.4em 0;
}

.legdetail {
  margin: 0.6em 0;
}

.timesdetail {
  color: #ffffff;
}

.TransferContainer {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin: 0 3em;
}

.TransferContainer img {
  vertical-align: middle;
}

#transferimg {
  vertical-align: middle;
  margin-top: 0.8em;
}

.BookButton {
  background-color: #e94596;
  color: #effffb;
  border-radius: 4px;
  margin: 0.8em;
  padding: 1em;
  width: 80%;
  border-style: none;
}

.LoadMoreBtn {
  background-color: #272727;
  color: #effffb;
  border-radius: 4px;
  margin: 0.8em;
  padding: 1em;
  width: 80%;
  border-style: none;
}

.Footer {
  background-color: #272727;
  color: #effffb;
  width: 100%;
  height: 2em;
  padding: 0.8em 0 6em 0;
}

.Footer a {
  text-decoration: none;
  color: #4299bb;
}

.Footer p {
  padding-top: 0.3em;
}

.Footer img {
  vertical-align: middle;
}
